@model Cafe.Service.Models.Menu.MenuItem

@using (Html.BeginForm("AddSave", "MenuItem", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.HiddenFor(model => model.Id)
        @Html.LabelFor(model => model.Title, "Название продукта")
        @Html.EditorFor(model => model.Title)
        <br />
        @Html.LabelFor(model => model.Category.Title, "Название категории")
        @Html.DropDownListFor(model => model.Category.Title, ViewBag.Categories as SelectList)
        <br />
        @Html.LabelFor(model => model.Description, "Описание")
        @Html.EditorFor(model => model.Description)
        <br />
        @Html.LabelFor(model => model.Price, "Цена")
        @Html.EditorFor(model => model.Price)
        <br />
        @Html.LabelFor(model => model.Weight, "Вес")
        @Html.EditorFor(model => model.Weight)      
        <br />
        @Html.EditorFor(model => model.ImageFile)
        <br />
        <input type="submit" value="Добавить" />
        <input type="button"
           value="Назад"
           onclick="location.href='@Url.Action("Index", "MenuItem")'" />
    </div>
}
